@tailwind base;
@tailwind components;
@tailwind utilities;

.mk-photo-roller-frame {
  width: 300%;
  position: relative;
  display: flex;
  animation: horizontalScroll 30s infinite linear;
  height: 40vh;
}

@media (max-width: 640px) {
  .mk-photo-roller-frame {
    height: 20vh; /* Adjust the height for mobile view */
  }
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Home Content */
.custom-paragraph {
  font-size: 14px;
  color: #515151;
  line-height: 1.88em;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  .page {
    @apply w-full h-screen overflow-hidden;
  }
  .btn,
  .input {
    @apply h-[52px] text-black border-black/50;
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent border-black/50 outline-none focus:ring-1 focus:ring-accent border  placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
}


/* progress bar css */

.progress-container {
  width: 100%;
  background-color: #ccc; /* Your background color */
  border-radius: 4px; /* Adjust as needed */
}

.progress-bar {
  /* height: 20px;
  background-color: #9713bf; 
  border-radius: 4px;
  animation: progressAnimation 5s ease-in-out; 
  transition: 0.4s linear; */
  height: 18px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;
}

.mk-photo-roller-frame {
  width: 300%; /* Ensure the frame is wide enough to include both images */
  display: flex;
  animation: horizontalScroll 30s infinite linear;
  height: 40vh;
}

@media (max-width: 640px) {
  .mk-photo-roller-frame {
    height: 20vh; /* Adjust height for smaller screens */
  }
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
  to {
    width: var(--progress, 0%);
  }
}


/* typewritter */
.typewriter span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255) }
}
